{{- if .Values.service.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "go-htmx-fiber.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "go-htmx-fiber.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "go-htmx-fiber.selectorLabels" . | nindent 4 }}
{{- end }}
